.fondo {
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
}

.Formulario {
    width: 350px;
    background: rgba(230, 230, 230, 0.8);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.Formulario h1 {
    font-size: 45px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.Formulario .usuariocontrase単a {
    position: relative;
    width: 95%;
    height: 40px;
    margin: 45px 0;
}

.usuariocontrase単a input {
    width: 100%;
    height: 60%;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 10px 10px 10px 10px;
}

.usuariocontrase単a input::placeholder {
    color: #000000;
}

.usuariocontrase単a .icono {
    position: absolute;
    right: -10px;
    top: 30%;
    transform: translateY(15%);
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.Formulario .recordar-contra {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color:#000000;
}

.recordar-contra label input {
    accent-color: #000000;
    margin-right: 4px;
}

.recordar-contra a {
    color: #000000;
    text-decoration: none;
}

.recordar-contra a:hover {
    text-decoration: underline;
}

.Formulario button {
    width: 100%;
    height: 50px;
    background: rgb(252, 252, 252);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.Formulario .link  {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.link p a {
    color:#159591;
    text-decoration: none;
    font-weight: 600;
}

.link p a:hover {
    text-decoration: underline;

}


